:root {
    --main-color: #212121;
    --second-main-color: #757575;
    --white: #FFFFFF;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --background-header: #ECECEC;
    --background-footer: #2F303A;
    --background-main: #FFFFFF;
    --background-second: #F5F4FA;
    --background-accent: #2196F3;
    --backgground-portfolio-cards: #EEEEEE;
    --soc-icon: #AFB1B8;
}