.clients {
    text-align: center;
    background-color: var(--background-main);
}

.clints__title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.clients__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;

    transition-property: fill, border-color;
    @extend %animation;
    &:hover,
    &:focus {
            fill: var(--accent-color);
            border-color: var(--accent-color);
    }
}
