.footer {
    background-color: var(--background-footer);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-flex {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.footer-content {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}


.footer-address {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white)
}

.footer-contact {
    margin-top: 9px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    @extend %animation;
    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.footer-soc-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white)
}

.footer-form {
    margin-left: 93px;
}

.footer-form-title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white);
}

.footer-form-wrap {
    display: flex;
    gap: 12px;
}

.footer-button {
    position: relative;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 62px;
    padding-left: 28px;

    border-radius: 4px;
    border: 1px solid transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--white);
    background-color: var(--background-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.footer-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--background-footer);
    color: var(--white);
    &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
    
            letter-spacing: 0.03em;
    
            color: rgba(255, 255, 255, 0.6);
        }
}



.footer-button-icon {
    align-self: flex-end;
    position: absolute;
    top: 50%;
    left: 148px;
    transform: translate(-50%, -50%);
    margin-left: 10px;
    fill: var(--white);
}