.fundamental {
    text-align: center;
}

.fundamental-list {
    display: flex;
    width: 1170px;

    background-color: var(--background-main);
}

.fundamental-item {
    width: 270px;
    text-align: left;
    &:not(:last-child) {
            margin-right: 30px;
        }
}

.fundamental-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.fundamental-text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-main-color);
}

.rectangle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--background-second);
    border-radius: 4px;
}