.projects {
    background-color: var(--background-main);
}

.project-filtr {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.project-filtr-item:not(:last-child) {
    margin-right: 8px;
}

.project-button {
    display: inline-block;
    border-radius: 4px;
    min-width: 73px;
    padding: 6px 22px;

    border: transparent;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background-color: var(--background-second);
    cursor: pointer;

    transition-property: color, background-color, filter;
    @extend %animation;
    &:hover,
    &:focus {
            color: var(--white);
            background-color: var(--background-accent);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-title {
    margin-top: 0px;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--main-color);
}

.project-text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-main-color);
}

.project-item {
    flex-basis: calc((100% - 60px) / 3);
    background-color: var(--backgground-portfolio-cards);
}

.project-link {
    display: inline-block;
    position: relative;

    transition-property: box-shadow;
    @extend %animation;
    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.cards {
    padding: 20px 24px;

    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--backgground-portfolio-cards);

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--backgground-portfolio-cards);

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--backgground-portfolio-cards);

    background-color: var(--background-main);
}

.project-thumb {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.project-description {
    display: inline-block;
    position: absolute;

    width: 100%;
    height: 100%;

    padding: 63px 24px;
    margin: 0;

    font-size: 18px;
    line-height: 1.56;  
    letter-spacing: 0.03em;

    color: var(--white);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-property: transform;
    @extend %animation;
    .project-link:hover & {
            transform: translateY(0);
            transition-property: transform;
            @extend %animation;
        }
}
